<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      /* Importing Google Fonts */
      @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

      /* Email styles */
      body {
        font-family: "Open Sans", Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        background-color: #fff;
        padding: 40px;
        margin: 20px auto;
        max-width: 600px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      h2 {
        color: #333;
        font-size: 24px;
        font-weight: 600;
        margin-top: 0;
      }
      p {
        color: #666;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .tick_bg {
        background-color: #ff6b01;
        padding: 10px;
        border-radius: 4px;
        text-align: center;
      }
      footer {
        text-align: center;
        font-size: 14px;
        color: #999;
      }
      footer img {
        margin: 0 10px;
      }
      .flex {
        display: flex;
      }
      .justify-between {
        justify-content: space-between;
      }
      .items-center {
        align-items: center;
      }
      .gap-10 {
        gap: 10px;
      }
      .text-center {
        text-align: center;
      }
      .justify-center {
        justify-content: center;
      }
      .start_button {
        outline: none;
        border: none;
        text-align: center;
        background-color: #6c309c;
        padding: 15px;
        border-radius: 30px;
        cursor: pointer;
        margin-bottom: 20px;
        color: #fff;
        font-weight: 700;
      }
      /* Responsive design */
      @media (max-width: 768px) {
        .flex {
          flex-direction: column;
        }
        .container {
          width: 95%;
          margin: 10px auto;
        }
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <div class="container">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="text-align: center">
              <img
                src="https://res.cloudinary.com/dxfdrtxi3/image/upload/v1703757086/Jadwali/vse8fjhqldrsckymbwbr.png"
                alt="Company Logo"
                width="200"
                style="display: block; margin: 0 auto; width: 200px"
              />
            </td>
          </tr>
        </table>
        <div class="text-center">
          <h2>Welcome to Jadwali</h2>

          <p>
            We are your ultimate partner in planning and managing exceptional
            events! We're thrilled to have you on board, and we're here to help
            you craft memorable experiences for your clients and guests.
          </p>
          <p>
            We're excited to be part of your journey in creating memorable
            events, and we can't wait to see the incredible experiences you'll
            design with Jadwali. Thank you for choosing us as your event
            management solution.
          </p>
          <button class="start_button">Start Creating Events!</button>
        </div>

        <div class="text-center" style="margin-bottom: 20px">
          <strong>Let's turn your event ideas into reality!</strong>
        </div>
        <footer>
          <div class="text-center">
            <!-- Replace with your social media icons -->
            <img
              src="https://res.cloudinary.com/dxfdrtxi3/image/upload/v1698903650/instagram_icon_fe3vkq.png"
              alt="Instagram"
            />
            <img
              src="https://res.cloudinary.com/dxfdrtxi3/image/upload/v1698903493/facebook_icon_pbxcle.png"
              alt="Facebook"
            />
            <img
              src="https://res.cloudinary.com/dxfdrtxi3/image/upload/v1698903960/likedin_tj7kss.png"
              alt="LinkedIn"
            />
            <img
              src="https://res.cloudinary.com/dxfdrtxi3/image/upload/v1698903760/twitter_icon_fd6jya.png"
              alt="Twitter"
            />
            <p>
              If you have any questions, feel free message us at
              Jadwali@gmail.com. All right reserved. Update email preferences or
              unsubscribe.
            </p>
            <p>&copy; 2023 Jadwali. All right reserved</p>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
