<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe</title>
  </head>
  <body>
    <h1>Choose Your Subscription Plan</h1>
    <form action="/subscribe" method="post">
      <div>
        <label>
          <input type="radio" name="plan" value="monthly" checked /> monthly
          Plan ($10/month)
        </label>
      </div>
      <div>
        <label>
          <input type="radio" name="plan" value="yearly" /> yearly Plan
          ($20/month)
        </label>
      </div>
      <button type="submit">Subscribe</button>
    </form>
  </body>
</html>
